<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Django Blog!</title>
</head>
<body>
    <header><h1><a href="*">Django Blog</a></h1></header>

    <article>
        <h4><a href="*">Welcome to my Django Blog 1</a></h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto repudiandae reiciendis odio ipsum quia aspernatur molestiae est et! Ratione dolor doloremque reiciendis veritatis, quasi corrupti quam nostrum consequatur enim cupiditate.</p>
    </article>
    
</body>
</html>